<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .API.Name }} - {{ .API.Version }}</title>
    <style>
        body {
            font-family: "{{ .Styles.BodyFont }}";
            color: {{ .Styles.BodyColor }};
            background-color: {{ .Styles.BodyBackground }};
        }

        h1 {
            color: {{ .Styles.HeaderColor }};
            font-family: "{{ .Styles.HeaderFont }}";
            font-size: {{ .Styles.HeaderFontSize }};
        }
    </style>
</head>

<body>
    <h1 style="margin: 20px; margin-top: 40px;">Welcome to {{ .API.Name }}!</h1>
    <hr />
    <p style="margin-left: 20px; margin-right: 20px;">Version: {{ .API.Version }}</p>
    <p style="margin-left: 20px; margin-right: 20px;">Client: {{ .Application.ClientName }}</p>
    <p style="margin-left: 20px; margin-right: 20px;">Domain: {{ .Application.Domain }}</p>
    <br />
    <p style="margin-left: 20px; margin-right: 20px;">Description: {{ .API.Description }}</p>
</body>

</html>