# Docker build
API_BUILD_CONTEXT=
CUSTOM_SERVICE_BUILD_CONTEXT=
CUSTOM_SERVICE_CONTAINER_NAME=
CUSTOM_SERVICE_PORTS=

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
DATABASE_SSL_MODE=disable
DATABASE_TIMEOUT=5
DATABASE_TIMEZONE='UTC'

# Token
JWT_SECRET=very-secret
JWT_ISSUER=https://dr-malcom.com
JWT_AUDIENCE=https://dr-malcom.com

# API
CONFIG_FILE=./settings.yml
AUTH_SERVICE_PORT=1993
CORS=http://localhost:3000,http://localhost:5000
LOGGING_LEVEL=DEBUG

# Mail server
MAIL_SERVER_NAME=mailgun
MAIL_SERVER_API_KEY=your_mailgun_api_key
MAIL_SERVER_DOMAIN=your_mailgun_domain
